<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="ru"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="ru"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="ru"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ru"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
    <meta name="description" content="Totallicks - это сервис для развития музыкальных талантов. Развиваем слух, ритм и нотный / табулатурный плеер.">
    <meta name="author" content="Totallicks Company, yura.zatsepin@totallicks.com">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/style.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

   </head>
<body >
    <header>
      <a class="back" href="http://totallicks.com">← Back to Totallicks</a>
    </header>
    <!-- Primary Content
	================================================== -->
    {{ content }}
    <!--Footer -->
    <footer>
      <!--<a href="http://vk.com/totallicks" class="popup_trigger">Группа ВКонтакте.</a>-->
      <!--<a href="http://www.facebook.com/Totallicks" class="popup_trigger">Группа в Facebook</a>-->
    </footer>
</body>
</html>
